# ---- Python Environment ----
.venv/
**/.venv/**

# ---- Data ----
/data/final_transliteration_dataset.csv
**/final_transliteration_dataset.csv/**

/data/final_transliteration_dataset_fixed.csv
**/final_transliteration_dataset_fixed.csv/**

# ---- Bytecode & Cache ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Logs & Outputs ----
*.log
*.out
*.tmp

# ---- IDE & OS Files ----
.vscode/
.idea/
.DS_Store

# ---- Environment Variables ----
.env
.env.*

# ---- Build & Distribution ----
build/
dist/
*.egg-info/

m2m100_prompt_finetune
m2m_prompt_M2M100_Seq2Seq_prompt
image.png
train_compare.py


fine_tuned_model

processed_dataset/
iss_uss_dataset_cleaned.csv
fine_tuned_model_iss_uss_issue/